.container {
  display: flex;
  flex-direction: row;
  width: 70vw;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (max-width: 1240px) {
  .container {
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    width: 100%;
  }
}
