.container {
  background-color: rgb(18, 18, 53);
  width: 25vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  text-align: center;
  color: white;
  position: fixed;
  transition: width 200ms;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 900px) {
  .container {
    display: none;
  }

  .hamburger {
    display: block;
    border: none;
    background: none;
    position: absolute;
    left: 1rem;
    top: 1rem;
  }

  .hamburger:hover {
    cursor: pointer;
  }
}

