.button {
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(18, 18, 53);
  padding: 1rem;
  transition: background-color 200ms;
}

.button:hover {
  cursor: pointer;
  background-color: #0e2c55;
  transition: background-color 200ms;
}

.button:active {
  background-color: #11396d;
  transition: background-color 200ms;
}
