.button {
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(18, 18, 53);
  padding: 1rem;
  font-weight: 600;
  transform: scale(1);
  transition: transform 100ms, background-color 200ms;
}

.button:hover {
  cursor: pointer;
  background-color: #0e2c55;
  transform: scale(1.05);
  transition: all 100ms;
}

.button:active {
  background-color: #11396d;
  transform: scale(1);
  transition: all 100ms;
}
