.input {
  width: auto;
}

@media screen and (max-width: 900px) {
  .container {
    width: 75vw;
  }
}

.formControl {
  margin-bottom: 1rem;
}

.record {
  display: flex;
  flex-direction: column;
}

.healthRatingContainer {
  margin-top: 1rem;
}