.container {
  padding: 1rem;
  width: 100%;
}

.date {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 1rem;
}


@media screen and (max-width: 1120px) {
  .container {
    text-align: center;
  }
}
