.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: none;
  border: none;
  margin-top: 1rem;
  font-size: 15px;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-weight: 500;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: color 200ms;
  flex-wrap: nowrap;
  word-break: break-all;
}

.container:hover {
  cursor: pointer;
  color: rgb(30, 77, 122);
  transition: color 200ms;
}

.container:active {
  cursor: pointer;
  color: rgb(36, 122, 179);
  transition: color 200ms;
}

.name {
  flex-basis: 50%;
  text-align: left;
  word-break: break-all;
}

.date {
  text-align: right;
}
