.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.button {
  border: none;
  border-radius: 5px;
  margin-left: 1rem;
  color: white;
  padding: 1rem;
}

.dismiss {
  background-color: rgb(104, 25, 25);
  transition: all 200ms;
}

.dismiss:hover {
  background-color: rgb(138, 34, 34);
  transition: all 200ms;
}

.dismiss:active {
  background-color: rgb(156, 39, 39);
  transition: all 200ms;
}

@media screen and (max-width: 555px) {
  .container {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .container > div {
    display: grid;
    grid-template-columns: auto auto;
  }
}
