.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.2rem;
  margin-bottom: 2rem;
  width: 100%;
}


.container > svg {
  color: #121235;
  transition: color 300ms;
}

.container > svg:hover {
  cursor: pointer;
  color: #0f2e5a;
  transition: color 300ms;
}

.container > svg:active {
  color: #11396d;
  transition: color 300ms;
}
