.container {
  width: 350px;
  padding: 1rem;
}

.container > h4 {
  margin-bottom: 1rem;
}

.container > div {
  max-height: 350px;
  height: fit-content;
  overflow: scroll;
}

.container > div::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 445px) {
  .container {
    width: 100vw;
  }
}
