.button {
  background-color: transparent;
  color: white;
  font-weight: bolder;
  width: 150px;
}

.button:hover {
  transform: scale(1.1);
  transition: all 300ms;
  background-color: transparent;
}

.button:active {
  transform: scale(1);
  transition: all 100ms;
}
