.container {
    width: 350px;
    padding: 2rem;
    height: 300px;
}



.container > h4 {
    margin-bottom: 1rem;
}

.container > div {
  overflow: scroll;
  height: 100%;
  padding-bottom: 2rem;
}

.container > div::-webkit-scrollbar {
  display: none;
}


@media screen and (max-width: 1120px) {
    .container {
      text-align: center;
      width: 460px;
    }
  }

  .loading {
    align-self: center;
  }