.wrapper > h1 {
  padding-bottom: 3rem;
}

@media screen and (max-width: 900px) {
  .wrapper {
    display: flex;
    justify-content: center;
  }

  .wrapper > h1 {
    align-self: center;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem;
}

.secondContainer {
  width: 45%;
}

@media screen and (max-width: 1120px) {
  .container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-top: 35rem;
    align-self: center;
    align-content: center;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
  }

  .secondContainer {
    width: 100%;
  }
}
