.wrapper > h1 {
  padding-bottom: 3rem;
}

@media screen and (max-width: 900px) {
  .wrapper {
    display: flex;
    justify-content: center;
  }

  .wrapper > h1 {
    align-self: center;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem;
}

.leftCards {
  margin-right: 2rem;
}

.secondContainer {
  width: 45%;
}

@media screen and (max-width: 1240px) {
  .container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-self: center;
    align-content: center;
    margin-top: 26rem;
  }

  .leftCards {
    margin-right: 0;
  }

  .wrapper {
    display: flex;
    justify-content: center;
  }

  .secondContainer {
    width: 100%;
  }
}