.input {
  width: 25%;
}

.recordInput {
  display: flex;
  align-items: center;
}

.recordList {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: -1rem;
}

.recordInput > svg {
  color: #121235;
  transition: color 300ms;
  margin-left: 0.5rem;
}

.recordInput > svg:hover {
  cursor: pointer;
  color: #113466;
  transition: color 300ms;
}

.recordInput > svg:active {
  color: #174c91;
  transition: color 300ms;
}
