.container {
    width: 100%;
    padding: 2rem;
    height: 300px;
    padding-bottom: 4rem;
}



.container > h4 {
    margin-bottom: 1rem;
}

.container > div {
  overflow: scroll;
  height: 100%;
}

.container > div::-webkit-scrollbar {
  display: none;
}


@media screen and (max-width: 1240px) {
    .container {
      width: 460px;
    }
  }

  .loading {
    align-self: center;
  }