.gender {
  margin-left: 0.5rem;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.main {
  height: 93%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.modal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
