* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: rgb(202, 202, 202);
}

a {
  color: inherit;
  text-decoration: none;
}

.new-patient-enter {
  transform: scale(1);
}

.new-patient-enter-active {
  transform: scale(0);
  transition: transform 300ms;
}

.new-patient-enter-done {
  transform: scale(1);
  transition: transform 300ms;
}

.new-patient-exit {
  transform: scale(1);
}

.new-patient-exit-active {
  transform: scale(0);
  transition: transform 300ms;
}

.new-patient-exit-done {
  transform: scale(1);
  transition: transform 300ms;
}


.zoom-enter {
  transform: translateX(0);
}

.zoom-enter-active {
  transform: translateX(50%);
  transition: transform 1000ms;
}

.zoom-enter-done {
  transform: translateX(50%);
}

.zoom-exit {
  transform: translateX(50%);
}

.zoom-exit-active {
  transform: translateX(0);
  transition: transform 1000ms;
}
